{% extends 'Layout.html'%}
{% load static %}
{% block title %}
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">

						<!-- Page Header -->
						<div class="page-header">
							<div class="row">
								<div class="col-sm-12">
									<h3 class="page-title">Create Entry</h3>
								</div>
							</div>
						</div>
						<!-- /Page Header -->

						<div class="card">
							<div class="card-body">

								<!-- Form -->
								<form action="/add-entry/" method="post">
									{% csrf_token %}
                                    <input type="hidden" name="account_id" value="{{id}}">
                                    <div class="form-group">
										<label>Date</label>
										<input class="form-control" type="date" placeholder="Date" name="data_date" required>
									</div>
									<div class="form-group">
										<label>Narration</label>
										<input class="form-control" type="text" placeholder="Narration" name="narration" required>
									</div>
									<div class="form-group">
										<label>Credit/Debit</label>
										<select class="form-control select" name="cd">
											<option value="1">Credit</option>
											<option value="2">Debit</option>
										</select>
									</div>
                                    <div class="form-group">
										<label>Amount</label>
										<input class="form-control" type="number" placeholder="Amount" name="amount" step="0.01" required>
									</div>
									<div class="mt-4">
										<button class="btn btn-primary" type="submit">Submit</button>
									</div>
								</form>
								<!-- /Form -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}